@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("noto-sans.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Sans Display";
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url("noto-sans-display.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Sans Mono";
    font-style: monospace;
    font-display: swap;
    src: url("noto-sans-mono.woff2") format("woff2");
}

main {
    font-family: "Noto Sans", sans-serif;
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
}

::selection {
    background: #d3869b;
}

body {
    background: #1d2021;
    color: #f9f5d7;
}

pre {
    background-color: #3c3836;
    padding: 1em;
    border: 0;
    font-family: "Noto Sans Mono", monospace;
}

a,
a:active,
a:visited {
    color: #b16286;
    background-color: #282828;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0.1rem;
    font-family: "Noto Sans Display", serif;
}

blockquote {
    border-left: 1px solid #bdae93;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
}

footer {
    text-align: center;
}

@media (prefers-color-scheme: light) {
    body {
        background: #f9f5d7;
        color: #1d2021;
    }

    pre {
        background-color: #ebdbb2;
        padding: 1em;
        border: 0;
    }

    a,
    a:active,
    a:visited {
        color: #b16286;
        background-color: #fbf1c7;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 0.1rem;
    }

    blockquote {
        border-left: 1px solid #655c54;
        margin: 0.5em 10px;
        padding: 0.5em 10px;
    }
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.centered-div {
    text-align: center;
}
