@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("noto-sans.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Sans Display";
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url("noto-sans-display.woff2") format("woff2");
}

@font-face {
    font-family: "Noto Sans Mono";
    font-style: monospace;
    font-display: swap;
    src: url("noto-sans-mono.woff2") format("woff2");
}

main {
    font-family: "Noto Sans", sans-serif;
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
}

::selection {
    /* CGIAR complimentary highlight green */
    background: #57FAD3;
}

body {
    background: #FFFFFF;
    /* CGIAR gray-800 */
    color: #1D1D1D;
}

pre {
    /* CGIAR primary light */
    background-color: #E2E0DF;
    padding: 1em;
    border: 0;
    font-family: "Noto Sans Mono", monospace;
}

a,
a:active,
a:visited {
    color: #FFFFFF;
    /* CGIAR primary green */
    background-color: #033529;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0.1rem;
    font-family: "Noto Sans Display", serif;
}

footer {
    text-align: center;
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.centered-div {
    text-align: center;
}
